@import "../base/base";
@import "../themes/variables";

.headerMobile {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 4;
  .container {
    .sideBar {
      .test {
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
      }
      .menuSideBar {
        background-color: red;
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 4;
      }
    }
  }
}
